<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ibm.lnja.sametimenotifications.preferences.SametimeNotificationsPreferencesPage"
            id="com.ibm.lnja.sametimenotifications.preferences.SametimeNotificationsPreferencesPage"
            name="Popup Notifications">
      </page>
   </extension>
<extension point="com.ibm.collaboration.realtime.messages.MessageHandlerListener">

  <messageHandler
      class="com.ibm.lnja.sametimenotifications.message.ChatMessageHandlerAdapter"
      id="com.ibm.lnja.sametimenotifications.message.messagehandleradapter"/> 
</extension>

</plugin>
